@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


body{
    margin: 0px;
    padding: 0px;
    font-family: roboto;
}



/*MENU*/
.menu{
    background-color: rgb(15, 16, 17);
    height: 60px;
    display: flex;
    justify-content:flex-end;
    position: fixed;
    width: 100%;
}
#menu{
    display: flex;
}
li{
    margin-right: 30px;
    list-style-type: none;
    padding: 5px;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
li:hover{
    background-color: rgb(23, 37, 233);
    
}

@media (max-width:840px){
    
   li{
       font-size: 9pt;
   }
   


    
}


/* NOME AMZON STARS*/

.banner-1{
    background-color: black;
    color: rgb(23, 37, 233);
    display: flex;
    flex-direction: column;
   align-items: center;

}
#ans{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50pt;
    margin-top: 100px;
}


/* BANNER */

.banner-2{
    padding-top: 20px;
    height: 400px;
    background-color: rgb(17, 18, 19);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(0, 50, 216);
    border-right: 1px solid rgb(0, 50, 216);

}

.video-1{
    margin-right: 40px;
    margin-left: 40px;
    
    
    
}
.texto-1{
    margin-left: 20px;
    margin-right: 20px;
    width: 400px;
    padding: 10px;

}
#h5{
    background-color: rgb(0, 50, 216);
    padding: 10px;
    width: 290px;
}


@media (max-width:840px){
    #ans{
        font-size: 30pt;
        padding-top: 50px;
    }
    
    .frame1{
        width: 330px;
        height: 200px;
    }
    .banner-2{
        flex-direction: column;
        width: 370px;
        height: 700px;
        
    }
    .texto-1{
        width: 300px;
    }
       
}


/* pagina Player*/

.principal-1{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
    
}
p{
    text-align: justify;
}


a{
    text-decoration: none;
    cursor: pointer;
}
.pq{
    color: rgb(242, 242, 247);
    background-color: rgb(0, 0, 0);
    padding: 10PX;
    border: 1px solid rgb(0, 50, 216);
    border-radius: 2px;
}
.principal-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}


@media (max-width:840px){
    .principal-1{
        flex-direction: column;
    }
    .pq{
        font-size: 9pt;
        width: 300px;
        text-align: center;
    }
    .video{
        width: 350px;
        height: 250px;
    }
       
}




/* AULAS VIDEOS */

#h2-aula{
    background-color: black;
    color: rgb(255, 255, 255);
    width: 300px;
    padding: 10px;
}

.aulas-texto{
    height: 350px;
    margin-top: -50px;
    background: linear-gradient(90deg,black,rgb(0, 50, 216),black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    color: white;
   
}

.aula-texto-item{
    width: 600px;
    margin-left: 100px;

}
.img-logo{
    border-radius: 50%;
    margin-right: 100px;
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 20px 5px rgb(28, 25, 230);
    margin-bottom: 20px;
}

/*
.img-logo:hover{
    transform: rotateY(360deg);
    transition: all 1s;
}
*/

@media (max-width:840px){
    .aulas-texto{
        flex-direction: column;
        align-items: center;
        height: 800px;
        background-color: antiquewhite;
        
    }
    .aula-texto-item{
        margin-left: 0px;
    }
   
    #h2-aula{
        width: 250px;
    }
    .aula-texto-item{
        width: 300px;
        
    }
    .img-logo{
        margin-right: 0px;
        width: 250px;
        height: 250px;
    }
    .btn-ac{
        width: 10px;
    }
       
}


/*Botao acesso*/

.botao-acesso{
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-ac{
    width: 400px;
    border: 1px solid rgb(0, 50, 216);
    background-color: rgb(0, 0, 0);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.btn-ac:hover{
    background-color: rgb(29, 29, 31);
    
}
.botao-item{
    text-align: center;
}

@media (max-width:840px){

    .btn-ac{
        width: 300px;
    }
       
}



/* PAGE XTREINOS AMZONS */

.banner-xt{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    height: 400px;
    color: rgb(0, 50, 216);
}
.titulo-banner{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30pt;
}
.texto-banner-xt{
    margin-top: -20px;
    color: white;
}
#hr{
    box-shadow: 0px 0px 10px 2px rgb(21, 53, 158);
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    color: rgb(252, 252, 252);
    font-size: 20pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media (max-width:840px){
   .banner-xt{
       height: 300px;
   }
    .titulo-banner{
        font-size: 15pt;

    }
    .texto-banner-xt{
        margin: 0px;
        font-size: 9pt;
    }
       
}